
<span class="input-group-btn rounded dropup {{getOpen() ? 'show' : ''}}" style="background-color: dimgray">

  <button type="button" class="btn btn-default dropdown-toggle" (click)="toggle()">Emo!<span class="caret"></span></button>

  <div class="dropdown-menu {{getOpen() ? 'show' : ''}} emoji__dropdown">
    <div class="emoji__container">
      <a href="#" *ngFor="let e of emoji">
        <a href="#" title="{{e.key}}" (click)="onEmojiClicked(e.code)">{{e.code}}</a>
      </a>
    </div>
  </div>
</span>

