

<span class="input-group-btn rounded dropup {{getOpenEmoji2() ? 'show' : ''}}" style="background-color: dimgray">
  <button type="button" class="btn btn-default dropdown-toggle" (click)="getEmoji2()">Emoji2<span class="caret"></span></button>


<span class="input-group-btn rounded dropup {{getOpenEmoji2() ? 'show' : ''}}" style="background-color: dimgray">

   <button type="button" class="btn btn-default dropdown-toggle" (click)="toggleEmoji2()">Emo!<span class="caret"></span></button>


  </span>

    <!--<div class="emoji__container">-->
      <!--<a href="#" *ngFor="let x of getEmoji()">-->
        <!--<img src="{{getEmoji.key}}" title="{{emoji.value}}" class="emoji__item"/>-->
      <!--</a>-->
    <!--</div>-->

</span>
