<!--The content below is only a placeholder and can be replaced.-->
<h1 class="text-center">💻 ✉ 💻 ✉ 💻 ✉ 💻 ✉ 💻 ✉ 💻 Slack Hub 💻 ✉ 💻 ✉ 💻 ✉ 💻 ✉ 💻 ✉ 💻</h1>
<div class="container-fluid">

  <div class="row content">
    <div class="col-3 sideactivity">
      <div class="activeUser rounded" style="background-color: lightseagreen">
      <app-active-user></app-active-user>
    </div>
    </div>

    <div class="col-9 chatcontent">
      <div class="activeChat rounded" style="background-color: coral">
        <app-active-chat></app-active-chat>
      </div>
      <div class="postToActiveChat rounded" style="background-color: black">
        <app-post-to-active-chat></app-post-to-active-chat>
      </div>
    </div>

  </div>
</div>
